<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>18.0f1</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>20</NumElts>
<DAQChannel>
<Name>DAQmx Channel 1</Name>
<Val>Dev1/ai0</Val>
</DAQChannel>
<DAQChannel>
<Name>DAQmx Channel 2</Name>
<Val>Dev1/ai2</Val>
</DAQChannel>
<DAQChannel>
<Name>DAQmx Channel 3</Name>
<Val>Dev1/ai1</Val>
</DAQChannel>
<Refnum>
<Name>DAQmx AI Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<String>
<Name>Channel 1 Name</Name>
<Val>Battery Voltage</Val>
</String>
<String>
<Name>Channel 2 Name</Name>
<Val>Battery Current</Val>
</String>
<String>
<Name>Channel 3 Name</Name>
<Val>Brake Torque</Val>
</String>
<U32>
<Name>Sample time</Name>
<Val>100</Val>
</U32>
<DBL>
<Name>Samples per second</Name>
<Val>5.00000000000000</Val>
</DBL>
<U16>
<Name>Sample mode</Name>
<Val>10123</Val>
</U16>
<I32>
<Name>Samples per channel</Name>
<Val>1</Val>
</I32>
<DBL>
<Name>Offset Channel 1</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Offset Channel 2</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Offset Channel 3</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Scale Channel 1</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Scale Channel 2</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Scale Channel 3</Name>
<Val>1.00000000000000</Val>
</DBL>
<DAQChannel>
<Name>DAQmx Counter Channel</Name>
<Val>SimDev1/ctr0</Val>
</DAQChannel>
<String>
<Name>Counter Name</Name>
<Val>Rotational Speed</Val>
</String>
<Refnum>
<Name>DAQmx Counter Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\lauri\OneDrive\Dokumente\Uni\HTW\Diplomarbeit\Versuchsstand neu\labview\rlps-to-matlab-counter\logged data\logged data.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
</Cluster>
</LVData>